{% extends 'master2.html' %}

{% block body %}
<br><br>
<script>
$( document ).ready(function() {
	$( ".button_receive" ).click(function() {
		var authorId=$( this ).data("authorid");  /* this will look for data attrs that start with 'data-' */
		var roleId=$( this ).data("roleid");
		var postId=$( this ).data("postid");
		console.log(authorId); /* at this point can ship an ajax request to make a change to the db */

		$( ".button_receive" ).attr("disabled", true);
		$( this ).parent().css( "background-color", "#6BF77B" );
		$( this ).parent().css( "padding", "20px" );
		$( this ).parent().prepend( "<h3 class=\"changemelater\"><strong>This recipient has been selected</strong></h3> " );
		/* $( this ).parent().addClass( "selected_receive" );  <- can replace above css line with this */

		$.ajax({
			url: "/posts/" + postId + "/" + roleId + "/" + authorId,
			method: "get",
		}).done(function(data){
			console.log("response received" + data);
		}).fail(function(){
			console.log("response failure");
		});


	});
	$( ".button_assist" ).click(function() {
		$( ".button_assist" ).attr("disabled", true);
		$( this ).parent().css( "background-color", "#6BF77B" );
		$( this ).parent().css( "padding", "20px" );
		$( this ).parent().prepend( "<h3 class=\"changemelater\"><strong>This helper has been selected</strong></h3> " );
	});



});

</script>


<h2>Post # {{ post.id }}:  {{ post.shortSummary }}</h2>
<br>
<div class="left-align">
	<div class="post">
		<p><strong>Post from <a href="/user/{{ post.ownerId }}">User {{ post.ownerId }}</a>: &nbsp;&nbsp; {{ post.shortSummary }}</strong></p>
		<p>{{ post.time_string() }}  from zip code {{ post.zipcode }}</p>
		<p>{{ post.longDescription }}</p>
		<br>
		<p>Needs this to happen ASAP?&nbsp;&nbsp;<span class="myBool_{{ post.isASAP }}"></span></p> 
		<p>Can meet weekdays?&nbsp;&nbsp;<span class="myBool_{{ post.canWeekdays }}"></span></p>
		<p>Can meet evenings?&nbsp;&nbsp;<span class="myBool_{{ post.canEvenings }}"></span></p>
		<p>Can meet weekends?&nbsp;&nbsp;<span class="myBool_{{ post.canWeekends }}"></span></p>
		<p>Can travel for this?&nbsp;&nbsp;<span class="myBool_{{ post.canTravel }}"></span></p>
		<p>Can meet in a central/public location?&nbsp;&nbsp;<span class="myBool_{{ post.canMeet }}"></span></p>

        <br><br><br>
<!--     <p>Care to upload a picture?
        	<form enctype="multipart/form-data" action="/upload/image" method="post">
            	<input id="image-file" type="file" />
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
        	</form></p> -->
	</div>
</div>
<br><br>
<h3>Replies</h3>

<div class="left-align">
	{% for comment in comments %}
	<!-- before passing list, check if the id of the recipient is someone who has replied
	e.g. if post recipient is not None, strip the buttons out, call out the recipient -->
	<!-- for later: if the value of comment.wasSelected is not null, disable the selection buttons -->
	<div class="thread">
		<div class="role_{{ comment.role }} reply">
		&nbsp;&nbsp;&nbsp;&nbsp;<strong>Reply from <a href="/user/{{ comment.authorId }}">User {{ comment.authorId }}</a></strong>
			&nbsp;&nbsp; [ &nbsp;&nbsp;&nbsp; {{ comment.time_string() }}  from zip code {{ comment.zipcode }} &nbsp;&nbsp;&nbsp; ]&nbsp;&nbsp;&nbsp;&nbsp;
			<button name="clickme" class="button_{{ comment.role }}" data-authorid="{{ comment.authorId }}" data-roleid="{{ comment.role }}" data-postid="{{ post.id }}">Select this poster</button>
			
			<!-- onclick="setRecipient({{ post.id }}, {{ comment.authorId }})" -->

			<!-- <script src='posts/{{ post.id }}/{{ comment.authorId }}'></script> -->
		
		<p><img src="/static/img_{{ comment.role }}.jpg" style="padding:15px;"/>:: <em>{{ comment.comment }}</em></p>
		<p>Can meet ASAP?&nbsp;&nbsp;<span class="myBool_{{ comment.canASAP }}"></span></p> 
		<p>Weekdays?&nbsp;&nbsp;<span class="myBool_{{ comment.canWeekdays }}"></span></p>
		<p>Evenings?&nbsp;&nbsp;<span class="myBool_{{ comment.canEvenings }}"></span></p>
		<p>Weekends?&nbsp;&nbsp;<span class="myBool_{{ comment.canWeekends }}"></span></p>
		<p>Can travel for this?&nbsp;&nbsp;<span class="myBool_{{ comment.canTravel }}"></span></p>
		<p>Can meet in a central/public location?&nbsp;&nbsp;<span class="myBool_{{ comment.canMeet }}"></span></p>

		<br><br></div>
		<div class="right-align">
		<p><a href="/feedback/{{ post.id }}/{{ comment.authorId }}/{{ post.ownerId }}"><em>I connected with this community member and want to leave feedback.</em></a></p>

		</div>
	</div><br>

	
	{% endfor %}
</div>
<br><br><br>
           <form class="response" action="" method="POST">
                <h3 class="response-heading">Respond to this post</h3>
                <div class="left-align">
                <p><em><a href="/guidelines">Read our posting guidelines here.</a></em></p>
                <br>
                <p>You are interested in:...
                <input type="radio" name="role" value="receive"> this item
                <input type="radio" name="role" value="assist"> helping this item get to its new home<br></p>
                <p>Add a comment here:</p>
                <input type="text" class="form-control" placeholder="(max 300 chars)" name="comment">
                <p>Information about your location and availability:</p>
                <p>What is your zipcode?<input type="text" class="form-control" placeholder="Zipcode" name="zipcode"></p>
                
                <p>Can you get this ASAP?
                <input type="radio" name="isASAP" value="1">Yes
                <input type="radio" name="isASAP" value="0">No<br></p>

                <p>Can you meet during a weekday?...
                <input type="radio" name="canWeekdays" value="1">Yes
                <input type="radio" name="canWeekdays" value="0">No<br></p>
                                
                <p>Can you meet on a weekday evening?...
                <input type="radio" name="canEvenings" value="1">Yes
                <input type="radio" name="canEvenings" value="0">No<br></p>

                <p>Can you meet on a weekend?...
                <input type="radio" name="canWeekends" value="1">Yes
                <input type="radio" name="canWeekends" value="0">No<br></p>

                <p>Can you travel to make this happen?...
                <input type="radio" name="canTravel" value="1">Yes
                <input type="radio" name="canTravel" value="0">No<br></p>

                <p>Can you meet in a public location?...
                <input type="radio" name="canMeet" value="1">Yes
                <input type="radio" name="canMeet" value="0">No<br></p>

                <p>What buslines, if any, are nearby?</p>
                <input type="text" class="form-control" placeholder="e.g. 44, 12" name="busLines">

            	</div>
            	<div class = "center_submit_button">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
             
            	</div>
            </form>

<script>
$( ".myBool_0" ).append( "<em>No</em>" );
</script>
<script>
$( ".myBool_1" ).append( "<em>Yes</em>" );
</script>

{% endblock %}
