{% extends 'master2.html' %}

{% block body %}
<br><br>
<h2>Post # {{ post.id }}:  {{ post.shortSummary }}</h2>
<br>
<div class="left-align">
	<div class="post">
		<p><strong>Post from <a href="/user/{{ post.ownerId }}">User {{ post.ownerId }}</a>: &nbsp;&nbsp; {{ post.shortSummary }}</strong></p>
		<p>{{ post.timeStamp }}  from zip code {{ post.zipcode }}</p>
		<p>{{ post.longDescription }}</p>
		<br>
		<p>
	</div>
</div>
<br><br>
<h3>Replies</h3>

<div class="left-align">
	{% for comment in comments %}
	<div class="thread">
		
		<p><strong>Reply from <a href="/user/{{ comment.authorId }}">User {{ comment.authorId }}</a></strong>
			&nbsp;&nbsp; [&nbsp;&nbsp;&nbsp;{{ comment.timeStamp }}  from zip code {{ comment.zipcode }} &nbsp;&nbsp;&nbsp; ]</p>
		<p>:: <em>{{ comment.comment }}</em></p>
		
	</div><br>
	{% endfor %}
</div>
<br><br><br>
           <form class="response" action="" method="POST">
                <h3 class="response-heading">Respond to this post</h3>
                <div class="left-align">
                <p><em><a href="/guidelines">Read our posting guidelines here.</a></em></p>
                <br>
                <p>You are interested in:...
                <input type="radio" name="role" value="receive"> this item
                <input type="radio" name="role" value="assist"> helping this item get to its new home<br></p>
                <p>Add a comment here:</p>
                <input type="text" class="form-control" placeholder="(max 300 chars)" name="comment">
                <p>Information about your location and availability:</p>
                <p>What is your zipcode?<input type="text" class="form-control" placeholder="Zipcode" name="zipcode"></p>
                
                <p>Can you get this ASAP?
                <input type="radio" name="isASAP" value="1">Yes
                <input type="radio" name="isASAP" value="0">No<br></p>

                <p>Can you meet during a weekday?...
                <input type="radio" name="canWeekdays" value="1">Yes
                <input type="radio" name="canWeekdays" value="0">No<br></p>
                                
                <p>Can you meet on a weekday evening?...
                <input type="radio" name="canEvenings" value="1">Yes
                <input type="radio" name="canEvenings" value="0">No<br></p>

                <p>Can you meet on a weekend?...
                <input type="radio" name="canWeekends" value="1">Yes
                <input type="radio" name="canWeekends" value="0">No<br></p>

                <p>Can you travel to make this happen?...
                <input type="radio" name="canTravel" value="1">Yes
                <input type="radio" name="canTravel" value="0">No<br></p>

                <p>Can you meet in a public location?...
                <input type="radio" name="canMeet" value="1">Yes
                <input type="radio" name="canMeet" value="0">No<br></p>

                <p>What buslines, if any, are nearby?</p>
                <input type="text" class="form-control" placeholder="e.g. 44, 12" name="busLines">

            	</div>

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
            </form>


{% endblock %}
