{% extends 'master.html' %}

{% block body %}
           <form class="signin" method="POST">
                <h2 class="signin-heading">Register a new account</h2>
                <p>You will use your Facebook login to enter each time. The following fields are required:</p>
                <input type="text" class="form-control" placeholder="Age" name="age">
                <input type="text" class="form-control" placeholder="City" name="city">
                <select name="state" class="form-control">
					<option value="CA">California</option>
					<option value="OR">Oregon</option>
				</select>
                <input type="text" class="form-control" placeholder="Zipcode" name="zipcode">
                <p>The following field is optional, if you'd like notifications sent to you by e-mail:</p>
                <input type="text" class="form-control" placeholder="E-mail" name="alt_email">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
            </form>
{% endblock %}

