{% extends 'master.html' %}

{% block body %}
           <form class="posting" method="POST">
                <h2 class="posting-heading">[fill me in later]</h2>
                <p><strong>Something else.</strong>  <em><a href="/guidelines">Read our posting guidelines here.</a></em></p>
                <br>
                <p>You are interested in:...
                <input type="radio" name="role" value="gift"> this item!
                <input type="radio" name="role" value="receive"> helping this item get to a new home<br></p>
                <p>A short comment to add to the thread:</p>
                <input type="text" class="form-control" placeholder="(max 60 chars)" name="comment">

                <p>Information about your location and availability:</p>
                <input type="text" class="form-control" placeholder="Zipcode" name="zipcode">
                
                <p>Are you available ASAP?
                <input type="radio" name="isASAP" value="1">Yes
                <input type="radio" name="isASAP" value="0">No<br></p>

                <p>Are you available during a weekday?...
                <input type="radio" name="canWeekdays" value="1">Yes
                <input type="radio" name="canWeekdays" value="0">No<br></p>
                                
                <p>Are you available on a weekday evening?...
                <input type="radio" name="canEvenings" value="1">Yes
                <input type="radio" name="canEvenings" value="0">No<br></p>

                <p>Are you available on a weekend?...
                <input type="radio" name="canWeekends" value="1">Yes
                <input type="radio" name="canWeekends" value="0">No<br></p>

                <p>Can you travel to make this happen?...
                <input type="radio" name="canTravel" value="1">Yes
                <input type="radio" name="canTravel" value="0">No<br></p>

                <p>Can you meet in a public location?...
                <input type="radio" name="canMeet" value="1">Yes
                <input type="radio" name="canMeet" value="0">No<br></p>

                <p>What buslines, if any, are nearby?</p>
                <input type="text" class="form-control" placeholder="e.g. 44, 12" name="busLines">

                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
            </form>
{% endblock %}
