{% extends 'master2.html' %}

{% block body %}

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '221505671371305',
          status     : true,
          xfbml      : true
        });

        FB.getLoginStatus(function(response) {
  			if (response.status === 'connected') {
			    var FBuid = response.authResponse.userID;
    			var FBaccessToken = response.authResponse.accessToken;

    			getMutualFriends(FBaccessToken);
    			getAllFriends(FBaccessToken);


		  } else if (response.status === 'not_authorized') {
		  	FB.login();
		  } else {
		  	FB.login();
 		 }
 });

    function getMutualFriends(FBaccessToken) {

        FB.api(
    		
    		"/{{ local_FBID }}/mutualfriends/{{ FBID }}?access_token=" + FBaccessToken,

    		function (response) {
    	  		if (response && !response.error) {

    	  			var mutual_friend_array = [];

    	  			for (var i = 0; i < response.data.length; i++) {

						var id = response.data[i].id;

						var mutual_friend_object = {
							// id: id,  
							// name: response.data[i].name, 
							method: "GET",
							relative_url: "/" + id + "/picture",
						}

						mutual_friend_array.push(mutual_friend_object);  
						/* could instead:  mutual_friend_array[i]=mutual_friend_object;  */


						/* TODO: 
						* send friend array over using batch command 
						* print out what they return, see how to pick out the data I need 
						* might need to loop through the array and the data that is returned */

    	  			}

    			    console.log(mutual_friend_array)
    			  }
    			else {
    				console.log("something is broken in getMutualFriends")
    				console.log(response.error)
    			}
   			}
		);
};
};

	function getAllFriends(FBaccessToken) {
		FB.api(
			"/{{ FBID }}/friends?limit=30&access_token=" + FBaccessToken,

			function (response) {
				if (response && !response.error) {
					var all_friend_array = [];
					for (var i = 0; i < response.data.length; i++) {
						var id = response.data[i].id;
						var all_friend_object = {
							method: "GET",
							relative_url: "/" + id + "/picture",
						}

						all_friend_array.push(all_friend_object); 
					}
					console.log(all_friend_array)
				} else {
					console.log("something is broken in getAllFriends")
					console.log(response.error)
				}
			}
			);
	};
        // response.authResponse.accessToken


      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);

         

       }(document, 'script', 'facebook-jssdk'));
    </script>

<br><br><br>
<h2>Recent posts </h2>

{% for post in recent_posts %}
<div class="left-align">
	<div class="post">
<p><a href="/posts/{{ post.id }}">Post # {{ post.id }}</a> ({{ post.time_string() }}): {{ post.shortSummary }}</p>
	</div><br>
</div>
{% endfor %}

<br><br><br>
<h2>Recent replies </h2>

<div class="left-align">
{% for reply in recent_replies %}
<div class="thread">
	<p>Reply to <a href="/posts/{{ reply.listingId }}">Post # {{ reply.listingId }}</a> ({{ reply.time_string() }})</p>
	<p><img src="/static/img_{{ reply.role }}.jpg" style="padding:15px;"/>::<em>{{ reply.comment }}</em></p>
</div><br>
{% endfor %}
</div>


{% endblock %}
